<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flaskas</title>
</head>
<h1>Converter</h1>
<form method="post">
    <p>From:</p>
    <select name="from">
        {%for valiuta in names%}
            <option>{{ valiuta }}</option>
        {%endfor%}
    </select>
    <p>To:</p>
    <select name="to">
        {%for valiuta in names%}
            <option>{{ valiuta }}</option>
        {% endfor %}
    </select>
    <p>Amount:</p>
    <input type="text" name="skaicius" style="margin-bottom: 20px;"><br>
    <input type="submit">
    <h1>{{ atsakymas }}</h1>
</form>
</html>