<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flaskas</title>
</head>
<form method="post">
    <p>Ivesk Emaila</p>
    <input id="input" name="email" type="email">
    <p>Ivesk subject</p>
    <input id="input" name="subject">
    <p>Zinute</p>
    <textarea rows="4" cols="50" name="zinute"></textarea><br>
    <input type="submit" style="margin-top: 20px;">
</form>
</html>